<div class="foot" id="footer">
    <ul class="links ft">
        <li class="links_item no_extra">
            <a href="http://www.tencent.com/zh-cn/index.shtml" target="_blank">关于腾讯</a>
        </li>
        <li class="links_item">
            <a href="/cgi-bin/readtemplate?t=home/agreement_tmpl&amp;type=info&amp;lang=zh_CN&amp;token=" target="_blank">服务协议</a>
        </li>
        <li class="links_item">
            <a href="/cgi-bin/readtemplate?t=business/faq_operation_tmpl&amp;type=info&amp;lang=zh_CN&amp;token=" target="_blank">运营规范</a>
        </li>
        <li class="links_item">
            <a href="http://kf.qq.com/product/weixinmp.html" target="_blank">客服中心</a>
        </li>
        <li class="links_item">
            <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=40012345&amp;f=1&amp;ty=1&amp;ap=000011:400792:|m:12|f:400792:m:12" target="_blank">在线客服</a>
        </li>
        <li class="links_item"><a href="mailto:weixinmp@qq.com" target="_blank">联系邮箱</a></li>
        <li class="links_item"><a href="/cgi-bin/readtemplate?t=home/infringement_tmpl&amp;lang=zh_CN" target="_blank">侵权投诉</a>
        </li>
        <li class="links_item"><p class="copyright">Copyright © 2012-2015 Tencent. All Rights Reserved.</p></li>
    </ul>
</div>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=46146097" charset="UTF-8"></script>
</body>
</html>