<div class="foot" id="footer">
    <ul class="links ft">
        <li class="links_item no_extra">
            <a href="http://www.tencent.com/zh-cn/index.shtml" target="_blank">关于腾讯</a>
        </li>
        <li class="links_item">
            <a href="/cgi-bin/readtemplate?t=home/agreement_tmpl&amp;type=info&amp;lang=zh_CN&amp;token=" target="_blank">服务协议</a>
        </li>
        <li class="links_item">
            <a href="/cgi-bin/readtemplate?t=business/faq_operation_tmpl&amp;type=info&amp;lang=zh_CN&amp;token=" target="_blank">运营规范</a>
        </li>
        <li class="links_item">
            <a href="http://kf.qq.com/product/weixinmp.html" target="_blank">客服中心</a>
        </li>
        <li class="links_item">
            <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=40012345&amp;f=1&amp;ty=1&amp;ap=000011:400792:|m:12|f:400792:m:12" target="_blank">在线客服</a>
        </li>
        <li class="links_item"><a href="mailto:weixinmp@qq.com" target="_blank">联系邮箱</a></li>
        <li class="links_item"><a href="/cgi-bin/readtemplate?t=home/infringement_tmpl&amp;lang=zh_CN" target="_blank">侵权投诉</a>
        </li>
        <li class="links_item"><p class="copyright">Copyright © 2012-2015 Tencent. All Rights Reserved.</p></li>
    </ul>
</div>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=46146097" charset="UTF-8"></script>
<script>
    var windowHeight = $(window).height();
    var $colSide = $(".col_side");
    var $containerLink= $(".container_hd-link");

    var standard = {
        //判断是否是微信 WebView
        isWeixin : function () {
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                return true;
            }
            else{
                return false;
            }
        },

        //显示/隐藏左侧菜单
        navToggle : function () {
            $colSide.toggleClass("col_side_show");
        }
    }
    $(function(){
        $(".page-title:empty").hide();

        if(standard.isWeixin()){
            document.title = "微信朋友圈广告规范";
            console.log("asd");
        }

        if(typeof window.ontouchstart === 'undefined') {
            $containerLink.on("click",standard.navToggle);
        }
        else {
            $containerLink.on("tap",standard.navToggle);
            $(".col_main").on("tap",function (e) {
                $colSide.removeClass("col_side_show");
            })
        }

        //阻止目录滑时带动主体内容滑动
        $colSide
                .on('touchstart', function(e) {
                    startY = e.touches[0].pageY;
                })
                .on("touchmove", function (e) {
                    diffY = e.touches[0].pageY - startY;

                    if((diffY>0 && $(this).scrollTop() == 0)
                                    || (diffY<0 && $(this).scrollTop()+windowHeight == $(this)[0].scrollHeight)) {
                        e.preventDefault();
                        e.stopPropagation();
                    }
                })

        if (typeof WeixinJSBridge == "object"
            && typeof WeixinJSBridge.invoke == "function") {
            console.log("暂不处理图片预览");
        }
        else {
            if (document.addEventListener) {
                document.addEventListener("WeixinJSBridgeReady", function () {
                    $(".inner img").tap(function () {
                        var imgUrls = [];
                        $(this).parents(".yue").find("img").each(function () {
                            imgUrls.push($(this).attr("src"));
                        });
                        WeixinJSBridge.invoke('imagePreview', {
                            current: $(this).attr("src"),
                            urls: imgUrls
                        }, function(res){
                            console.log(res.err_msg);
                        });
                    })
                }, false);
            }
        }
    })
</script>
</body>
</html>